.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___7RZct {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox___7RZct > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___7RZct > :global(.__wab_flex-container) > *,
.freeBox___7RZct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7RZct > :global(.__wab_flex-container) > picture > img,
.freeBox___7RZct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__yh0J5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__yh0J5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yh0J5 > :global(.__wab_flex-container) > *,
.freeBox__yh0J5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yh0J5 > :global(.__wab_flex-container) > picture > img,
.freeBox__yh0J5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh0J5 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh0J5 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh0J5 > :global(.__wab_flex-container) > *,
  .freeBox__yh0J5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yh0J5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yh0J5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___4XiLm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox___4XiLm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4XiLm > :global(.__wab_flex-container) > *,
.freeBox___4XiLm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4XiLm > :global(.__wab_flex-container) > picture > img,
.freeBox___4XiLm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4XiLm {
    width: 100%;
    min-width: 0;
  }
}
.text__oTmxQ {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__fFab9 {
  position: relative;
  text-align: left;
}
.bullet__t6B3I:global(.__wab_instance) {
  position: relative;
}
.bullet__uCd5T:global(.__wab_instance) {
  position: relative;
}
.bullet__rbUuK:global(.__wab_instance) {
  position: relative;
}
.text__kVn0V {
  position: relative;
  text-align: left;
}
.freeBox__eLgDh {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__eLgDh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__eLgDh > :global(.__wab_flex-container) > *,
.freeBox__eLgDh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eLgDh > :global(.__wab_flex-container) > picture > img,
.freeBox__eLgDh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eLgDh {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eLgDh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eLgDh > :global(.__wab_flex-container) > *,
  .freeBox__eLgDh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eLgDh > :global(.__wab_flex-container) > picture > img,
  .freeBox__eLgDh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__yctaS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yctaS {
    width: 100%;
    min-width: 0;
  }
}
.img__tjNkM {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tjNkM > picture > img {
  object-fit: cover;
}
.img__tjNkM > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__qXr1 {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__qXr1 > picture > img {
  object-fit: cover;
}
.img__qXr1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___3T8Ea {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___3T8Ea > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___3T8Ea > :global(.__wab_flex-container) > *,
.freeBox___3T8Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3T8Ea > :global(.__wab_flex-container) > picture > img,
.freeBox___3T8Ea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3T8Ea {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3T8Ea > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3T8Ea > :global(.__wab_flex-container) > *,
  .freeBox___3T8Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3T8Ea > :global(.__wab_flex-container) > picture > img,
  .freeBox___3T8Ea
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__wjH8Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wjH8Q {
    width: 100%;
    min-width: 0;
  }
}
.img__g0IWz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__g0IWz > picture > img {
  object-fit: cover;
}
.img__g0IWz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tyYk {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__tyYk > picture > img {
  object-fit: cover;
}
.img__tyYk > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fcigj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__fcigj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fcigj > :global(.__wab_flex-container) > *,
.freeBox__fcigj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fcigj > :global(.__wab_flex-container) > picture > img,
.freeBox__fcigj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fcigj {
    width: 100%;
    min-width: 0;
  }
}
.text__neth2 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__e5Yjp {
  position: relative;
  text-align: left;
}
.bullet__yeKIf:global(.__wab_instance) {
  position: relative;
}
.bullet__hwP7:global(.__wab_instance) {
  position: relative;
}
.bullet__sTNz:global(.__wab_instance) {
  position: relative;
}
.text__v4Nb0 {
  position: relative;
  text-align: left;
}
.freeBox__tWtLa {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__tWtLa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__tWtLa > :global(.__wab_flex-container) > *,
.freeBox__tWtLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tWtLa > :global(.__wab_flex-container) > picture > img,
.freeBox__tWtLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tWtLa {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tWtLa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tWtLa > :global(.__wab_flex-container) > *,
  .freeBox__tWtLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tWtLa > :global(.__wab_flex-container) > picture > img,
  .freeBox__tWtLa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
