.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 5px;
  padding: 10px 32px;
}
.roottype_solidBlue {
  background: var(--token-p-fCTrfjtL4);
}
.roottype_solidBlack {
  background: var(--token-dph1wZ7NjV9);
}
.roottype_outlineBlue {
  border: 1px solid var(--token-p-fCTrfjtL4);
}
.roottype_small {
  padding: 0px;
}
.rootnarrower {
  padding-left: 20px;
  padding-right: 20px;
}
.roottype_solidBlue:hover {
  background: var(--token-XwpJY1cPVQ2);
}
.roottype_solidBlack:hover {
  background: var(--token-T5L5Js4u0Cm);
}
.slotTargetText {
  font-size: 16px;
}
.slotTargetTexttype_solidBlue {
  color: var(--token-dWEfBrDdv8Y_);
}
.slotTargetTexttype_solidBlack {
  color: var(--token-dWEfBrDdv8Y_);
}
.slotTargetTexttype_outlineBlue {
  color: var(--token-p-fCTrfjtL4);
}
