.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___64XBh {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__liJig {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__liJig > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__liJig > :global(.__wab_flex-container) > *,
.freeBox__liJig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__liJig > :global(.__wab_flex-container) > picture > img,
.freeBox__liJig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__tYXp:global(.__wab_instance) {
  position: relative;
}
.text__ujnsJ {
  height: 64px;
}
.freeBox___5JFq4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___5JFq4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___5JFq4 > :global(.__wab_flex-container) > *,
.freeBox___5JFq4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5JFq4 > :global(.__wab_flex-container) > picture > img,
.freeBox___5JFq4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5JFq4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5JFq4 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5JFq4 > :global(.__wab_flex-container) > *,
  .freeBox___5JFq4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5JFq4 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5JFq4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__yVbHh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__yVbHh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__yVbHh > :global(.__wab_flex-container) > *,
.freeBox__yVbHh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yVbHh > :global(.__wab_flex-container) > picture > img,
.freeBox__yVbHh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yVbHh {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yVbHh > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iAotx {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__nPmc1 {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__lAfnh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureCard__lAfnh:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__yly7B {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__eG21C {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___7DOUm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureCard___7DOUm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__a1RT4 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__sEOo8 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kFqHw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .featureCard__kFqHw:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__vjAn6 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__mNCny {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__mnQt7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mnQt7 {
    width: 100%;
    min-width: 0;
  }
}
.img__ymd8A {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ymd8A > picture > img {
  object-fit: cover;
}
.img__ymd8A > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__pLcjb {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__pLcjb > picture > img {
  object-fit: cover;
}
.img__pLcjb > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__udHud {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__gaz73 {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__oW8TR {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hqFOl {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.section__z5Az:global(.__wab_instance) {
  align-self: center;
}
.freeBox__g1It1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__g1It1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__g1It1 > :global(.__wab_flex-container) > *,
.freeBox__g1It1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g1It1 > :global(.__wab_flex-container) > picture > img,
.freeBox__g1It1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___2GzAh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aXyr3 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg__cTs5J {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wq1N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mo5Bo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg__huqi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yG7Ft:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__somww {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg___2OQc7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__edxKq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gagNo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg__dcaRe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zXt6Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mrg7K {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg___7NyiX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__mGiYe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8UaFt {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: dWEfBrDdv8Y_ */;
}
.svg__foCeY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___0WxZx {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: gPjzpvx0V0iI */;
}
.freeBox__qyn66 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__tnlp {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tnlp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__tnlp > :global(.__wab_flex-container) > *,
.freeBox__tnlp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tnlp > :global(.__wab_flex-container) > picture > img,
.freeBox__tnlp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section__o2Toa:global(.__wab_instance) {
  position: relative;
}
.freeBox__mm5La {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mm5La > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mm5La > :global(.__wab_flex-container) > *,
.freeBox__mm5La > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mm5La > :global(.__wab_flex-container) > picture > img,
.freeBox__mm5La
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__uic95 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__z0Wcr {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__uedu7 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__fjEv {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__qdtNf {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
